<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>User Info</title>-->
<!--</head>-->

<!--<body>-->
<!--<h1>LeetCode Info</h1>-->

<!--<form id="leetcodeForm">-->
<!--  <label for="leetcodeUserId">User ID:</label><br>-->
<!--  <input type="text" id="leetcodeUserId" name="userId"><br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<!--<p>Easy Solved: <span th:text="${leetcodeData.easy_solved}"></span></p>-->
<!--<p>Medium Solved: <span th:text="${leetcodeData.medium_solved}"></span></p>-->
<!--<p>Hard Solved: <span th:text="${leetcodeData.hard_solved}"></span></p>-->
<!--<p>Total Solved: <span th:text="${leetcodeData.total_solved}"></span></p>-->

<!--<h1>NowCoder Info</h1>-->

<!--<form id="nowcoderForm">-->
<!--  <label for="nowcoderUserId">User ID:</label><br>-->
<!--  <input type="text" id="nowcoderUserId" name="userId"><br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<!--<p>Rating: <span th:text="${nowcoderData.rating}"></span></p>-->
<!--<p>Rating Rank: <span th:text="${nowcoderData.ratingRank}"></span></p>-->
<!--<p>Competition Count: <span th:text="${nowcoderData.competitionCount}"></span></p>-->
<!--<p>Has Passed Problem: <span th:text="${nowcoderData.hasPassedProblem}"></span></p>-->

<!--<script>-->
<!--  document.getElementById('leetcodeForm').addEventListener('submit', function(event) {-->
<!--    // Prevent the form from being submitted normally-->
<!--    event.preventDefault();-->

<!--    // Get the user ID from the form-->
<!--    var userId = document.getElementById('leetcodeUserId').value;-->

<!--    // Send a GET request to the server-->
<!--    window.location.href = 'http://127.0.0.1:7788/leetcode/info/' + userId;-->
<!--  });-->

<!--  document.getElementById('nowcoderForm').addEventListener('submit', function(event) {-->
<!--    // Prevent the form from being submitted normally-->
<!--    event.preventDefault();-->

<!--    // Get the user ID from the form-->
<!--    var userId = document.getElementById('nowcoderUserId').value;-->

<!--    // Send a GET request to the server-->
<!--    window.location.href = 'http://127.0.0.1:7788/nowcoder/info/' + userId;-->
<!--  });-->
<!--</script>-->

<!--</body>-->
<!--</html>-->