<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>

<body>
<h1>LeetCode Info</h1>

<form id="leetcodeForm" method="post" action="/api/leetcode/info">
    <label for="leetcodeUserId">User ID:</label><br>
    <input type="text" id="leetcodeUserId" name="userId"><br>
    <input type="submit" value="Submit">
</form>

<p>Easy Solved: <span th:text="${LeetCodeData.easy_solved}"></span></p>
<p>Medium Solved: <span th:text="${LeetCodeData.medium_solved}"></span></p>
<p>Hard Solved: <span th:text="${LeetCodeData.hard_solved}"></span></p>
<p>Total Solved: <span th:text="${LeetCodeData.total_solved}"></span></p>

<h1>NowCoder Info</h1>

<form id="nowcoderForm" method="post" action="/api/nowcoder/info">
    <label for="nowcoderUserId">User ID:</label><br>
    <input type="text" id="nowcoderUserId" name="userId"><br>
    <input type="submit" value="Submit">
</form>

<p>Rating: <span th:text="${NowCodeData.rating}"></span></p>
<p>Rating Rank: <span th:text="${NowCodeData.ratingRank}"></span></p>
<p>Competition Count: <span th:text="${NowCodeData.competitionCount}"></span></p>
<p>Has Passed Problem: <span th:text="${NowCodeData.hasPassedProblem}"></span></p>

</body>
</html>